7282_1.csv
Datafiniti_Hotel_Reviews.csv
Datafiniti_Hotel_Reviews_Jun19.csv
random_forest_model.joblib
.idea
X_tfidf.npy
y.npy
X_tfidf_1000.npy
X_tfidf_3000.npy
xgboost_model.joblib
random_forest_model.joblib